.card{
    /* colour is for text colour */
    color: #222222; 
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 5px solid #222222 ;
    border-radius: 10px;
/* padding all around */
    padding: 20px;
}